/* Font family url */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --shade-of-gray: #c6e4d6;
    --text-dark: #0e0e0e;
    --text-dark-2: #0e0e0ecc;
    --text-dark-3: #0e0e0eb3;
    --btn-color: #006a50;
}

html {
    font-family: "Fira Sans", serif;
    width: 90%;
    margin: 0 auto;
    background: rgb(240, 237, 237);
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 32px;
    font-weight: bold;
}

nav button {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    background: none;
    font-weight: 600;
    cursor: pointer;
}

/* Header start */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--shade-of-gray);
    padding: 80px;
    border-radius: 8px;
    gap: 20px;
}

header p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

header h2 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-dark);
}

header button {
    border-radius: 8px;
    background: var(--btn-color);
    padding: 17px 34px 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
}

/* Pillars of "Bangladesh 2.0" start hear */
.pillars-of-bangladesh {
    margin-top: 80px 0;
}

.pillars-of-bangladesh h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-dark);
}

.pillars-card {
    padding: 24px;
    background: white;
    border-radius: 8px;
}

.pillars-card h4 {
    font-weight: 700;
    font-size: 20px;
    color: var(--text-dark-2);
}

.pillars-card p {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-dark-3);
}

.Recent-news {
    color: rgba(14, 14, 14, 0.7);
}

/* "The vision of Bangladesh" start here */

.The-vision-of-future{
    margin-top: 80px 0 32px 0;
    gap: 24px;
}

.The-vision-of-future h2{
  color: var(--h1FontColor);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}
.The-vision-of-future p{
    color: var(--h1FontColor);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 32px;
    line-height: 24px;  
}
.The-vision-of-future .card2-p{
    margin-bottom: 28px;
}
.The-vision-of-future .cards{
    display: flex;
    justify-content: space-around;
}
.The-vision-of-future .card{
    width: 410.67;
    border-radius: 16px;
    padding: 32px;
}
.The-vision-of-future .card1 {
    background: rgba(84, 144, 245, 0.2); 
}
.The-vision-of-future .card1:hover{
    background: rgba(24, 89, 203, 0.2);
}
.The-vision-of-future .card2{
    background: var(--MintFrost);
}
.The-vision-of-future .card2:hover{
    background: #a2d5be;
}
.The-vision-of-future .card3{
    background: var(--WarmVanilla);
}
.The-vision-of-future .card3:hover{
    background: #efe5c4;
}
.The-vision-of-future h4{
    color: var(--h1FontColor);
    font-size: 20px;
    font-weight: 700;
    padding: 25px 0 12px 0;
  }
  .learn-more{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: var(--SkylineBlue);
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
  }
  .learn-more:hover {
    color: var(--SkylineBlue);
    background: white;
    transition: all.5s;
  }  
  .learn-more {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: var(--Green);
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
  }
  .learn-more:hover {
    color: var(--Green);
    background: white;
    transition: all.5s;
  }
  .learn-more {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: var(--GoldenSun);
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
  }
  .learn_more3:hover {
    color: var(--GoldenSun);
    background: white;
    transition: all.5s;
  }
  /* The vision of future end */

  /* Dr. Muhammad yunus section start */
.Muhammd-Yunus{
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    margin: 32px 0 80px 0;
}
.Muhammd-Yunus .Dr.Muhammd-Yunus-first{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: -45px 0 12px 0;
}
.Muhammd-Yunus h3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 4px;
}
.Muhammd-Yunus p{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
}
/* Dr. Muhammad Yunus section end */
/* recent news section start */
.recent-news{
    padding: 80px 0; 
}
.recent-news h2{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
  }
  .recent-news p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 32px;
  }
  .bangladesh-launches-new-satellite{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    padding: 48px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
    gap: 32px;
  } 
  .bangladesh-launches-new-satellite .satelite {
    border-radius: 24px;
  }
  .bangladesh-launches-new-satellite h2 {
    color: rgba(14, 14, 14, 0.7);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 12px;
  }
  .bangladesh-launches-new-satellite .al-jazeera {
    padding-bottom: 12px;
  }
  .bangladesh-launches-new-satellite h5 {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 12px;
  }
  .bangladesh-launches-new-satellite h6 {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 32px;
  }
  
  .read-more {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: #006a50;
    width: 16%;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
  }
  
  .read-more:hover {
    color: white;
    background: black;
    transition: all 0.5s;
  }
/* recent news section end */
